body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
    background: #0b4df5;
    font-size: 16px;
    text-align: center;
}
p{color: rgb(255, 255, 255);
text-align: left;}

 footer{
    border: 2px solid #f7f3f3;
    font-size: 20px;
}

footer {
text-align: center ;
color: rgb(247, 247, 247);
}

h1 {
    text-align: center;
    color: white;
}

ul {
    text-align: center;
    color: white;
}

a {
    text-align: center;
    color: white;
}
